- name: Create Folder - {{ item.dir }}
  community.general.jenkins_job:
    config: "{{ loolup('file', 'templates/folder.xml') }}"
    name: "{{item}}"
    url: http://172.31.25.13:8080
    user: admin
    password: "{{jenkins_password}}"
  loop: "{{ folders }}"


- name: Create Pipeline Jobs
  ansible.builtin.include_tasks: pipeline.yml
  COMPONENT: "{{item.name}}"
  DIR: "{{item.dir}}"
  loop:






